// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
 }

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content; 
    }
 }
 
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }